Q1. What is MongoDB? Explain non-relational databases in short. In which scenarios it is preferred to use
MongoDB over SQL databases?

MangoDb is a NoSQL database management system. It can store data in a flexible format ie- schema less.

**Non-Relational Database (NoSQL)-**

1. MongoDB, don't  require a predefined schema. Each record can have different fields, which provides flexibilty for changing data requirements.

2. NoSQL databases are more suitable for storing semi-structured or unstructured data like JSON, XML, or key-value pairs.


**When to Use MongoDB over SQL Databases-**

1. When the application's data structure is dynamic and may evolve over time.
2. When need arises of handling large amount of data, with high workload.
3. When data doesn't fit into tables with rows and columns.
4. MongoDB is often used in cloud-native environments due to its scalability and compatibility with cloud platforms like AWS, Azure, and Google Cloud.

Q2. State and Explain the features of MongoDB.

1. MongoDB uses a schema-less document data model. Each document in a collection can have a different structure.

2. It can store JSON files.

3. It can scale horizontally due to its feature of addition of more servers. 

4. MangoDB Atlas is a cloud based database service which can be easily used for deployment of database over platforms like AWS, Azure etc.

Q3. Write a code to connect MongoDB to Python. Also, create a database and a collection in MongoDB.

In [3]:
pip install pymongo

Collecting pymongo
  Downloading pymongo-4.5.0-cp310-cp310-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (671 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 671.3/671.3 kB 15.2 MB/s eta 0:00:00a 0:00:01
Collecting dnspython<3.0.0,>=1.16.0
  Downloading dnspython-2.4.2-py3-none-any.whl (300 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 300.4/300.4 kB 35.9 MB/s eta 0:00:00
Installing collected packages: dnspython, pymongo
Successfully installed dnspython-2.4.2 pymongo-4.5.0
Note: you may need to restart the kernel to use updated packages.

In [6]:
import pymongo

In [8]:

from pymongo.mongo_client import MongoClient

uri = "mongodb+srv://pateltikku:<password>@pateltikku.6rr6rgu.mongodb.net/?retryWrites=true&w=majority"

# Create a new client and connect to the server
client = MongoClient(uri)

# Send a ping to confirm a successful connection
try:
    client.admin.command('ping')
    print("Pinged your deployment. You successfully connected to MongoDB!")
except Exception as e:
    print(e)

Pinged your deployment. You successfully connected to MongoDB!

In [9]:
db = client["tikku"]

In [10]:
coll_create = db["my_record"]

In [11]:
data = {"name":"tikku",
        "class":"data_science_masters",
        "timing":"flexi"

}

Q4. Using the database and the collection created in question number 3, write a code to insert one record,
and insert many records. Use the find() and find_one() methods to print the inserted record.

In [12]:
coll_create.insert_one(data)

In [13]:
data1 = {"mail_id":"tikku",
         "phone_no":64564
}

In [14]:
coll_create.insert_one(data1)

In [15]:
 data2 = [
  { "name": "Amy", "address": "Apple st 652" },
  { "name": "Hannah", "address": "Mountain 21" },
  { "name": "Michael", "address": "Valley 345" },
  { "name": "Sandy", "address": "Ocean blvd 2" },
  { "name": "Betty", "address": "Green Grass 1" },
  { "name": "Richard", "address": "Sky st 331" },
  { "name": "Susan", "address": "One way 98" },
  { "name": "Vicky", "address": "Yellow Garden 2" },
  { "name": "Ben", "address": "Park Lane 38" },
  { "name": "William", "address": "Central st 954" },
  { "name": "Chuck", "address": "Main Road 989" },
  { "name": "Viola", "address": "Sideway 1633" }
]

In [16]:
coll_create.insert_many(data2)

In [17]:
for i in coll_create.find():
    print (i)

{'_id': ObjectId('65107ab63c3d8a7cdf78c2da'), 'name': 'tikku', 'class': 'data_science_masters', 'timing': 'flexi'}
{'_id': ObjectId('65107ae13c3d8a7cdf78c2db'), 'mail_id': 'tikku', 'phone_no': 64564}
{'_id': ObjectId('65107b013c3d8a7cdf78c2dc'), 'name': 'Amy', 'address': 'Apple st 652'}
{'_id': ObjectId('65107b013c3d8a7cdf78c2dd'), 'name': 'Hannah', 'address': 'Mountain 21'}
{'_id': ObjectId('65107b013c3d8a7cdf78c2de'), 'name': 'Michael', 'address': 'Valley 345'}
{'_id': ObjectId('65107b013c3d8a7cdf78c2df'), 'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'_id': ObjectId('65107b013c3d8a7cdf78c2e0'), 'name': 'Betty', 'address': 'Green Grass 1'}
{'_id': ObjectId('65107b013c3d8a7cdf78c2e1'), 'name': 'Richard', 'address': 'Sky st 331'}
{'_id': ObjectId('65107b013c3d8a7cdf78c2e2'), 'name': 'Susan', 'address': 'One way 98'}
{'_id': ObjectId('65107b013c3d8a7cdf78c2e3'), 'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'_id': ObjectId('65107b013c3d8a7cdf78c2e4'), 'name': 'Ben', 'address': 'Park Lane 38'}
{'_id': ObjectId('65107b013c3d8a7cdf78c2e5'), 'name': 'William', 'address': 'Central st 954'}
{'_id': ObjectId('65107b013c3d8a7cdf78c2e6'), 'name': 'Chuck', 'address': 'Main Road 989'}
{'_id': ObjectId('65107b013c3d8a7cdf78c2e7'), 'name': 'Viola', 'address': 'Sideway 1633'}

In [18]:
coll_create.find_one()

{'_id': ObjectId('65107ab63c3d8a7cdf78c2da'),
 'name': 'tikku',
 'class': 'data_science_masters',
 'timing': 'flexi'}

Q5. Explain how you can use the find() method to query the MongoDB database. Write a simple code to
demonstrate this.

In [19]:
for i in coll_create.find():
    print (i)

{'_id': ObjectId('65107ab63c3d8a7cdf78c2da'), 'name': 'tikku', 'class': 'data_science_masters', 'timing': 'flexi'}
{'_id': ObjectId('65107ae13c3d8a7cdf78c2db'), 'mail_id': 'tikku', 'phone_no': 64564}
{'_id': ObjectId('65107b013c3d8a7cdf78c2dc'), 'name': 'Amy', 'address': 'Apple st 652'}
{'_id': ObjectId('65107b013c3d8a7cdf78c2dd'), 'name': 'Hannah', 'address': 'Mountain 21'}
{'_id': ObjectId('65107b013c3d8a7cdf78c2de'), 'name': 'Michael', 'address': 'Valley 345'}
{'_id': ObjectId('65107b013c3d8a7cdf78c2df'), 'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'_id': ObjectId('65107b013c3d8a7cdf78c2e0'), 'name': 'Betty', 'address': 'Green Grass 1'}
{'_id': ObjectId('65107b013c3d8a7cdf78c2e1'), 'name': 'Richard', 'address': 'Sky st 331'}
{'_id': ObjectId('65107b013c3d8a7cdf78c2e2'), 'name': 'Susan', 'address': 'One way 98'}
{'_id': ObjectId('65107b013c3d8a7cdf78c2e3'), 'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'_id': ObjectId('65107b013c3d8a7cdf78c2e4'), 'name': 'Ben', 'address': 'Park Lane 38'}
{'_id': ObjectId('65107b013c3d8a7cdf78c2e5'), 'name': 'William', 'address': 'Central st 954'}
{'_id': ObjectId('65107b013c3d8a7cdf78c2e6'), 'name': 'Chuck', 'address': 'Main Road 989'}
{'_id': ObjectId('65107b013c3d8a7cdf78c2e7'), 'name': 'Viola', 'address': 'Sideway 1633'}

Q6. Explain the sort() method. Give an example to demonstrate sorting in MongoDB.

In [21]:
data3 = [
    {"name": "Alice", "age": 30},
    {"name": "Bob", "age": 25},
    {"name": "Charlie", "age": 35},
]

In [22]:
coll_create.insert_many(data3)

In [24]:
ascending_sort = coll_create.find().sort("age", 1)

print("Documents sorted by age in ascending order:")
for i in ascending_sort:
    print(i)

Documents sorted by age in ascending order:
{'_id': ObjectId('65107ab63c3d8a7cdf78c2da'), 'name': 'tikku', 'class': 'data_science_masters', 'timing': 'flexi'}
{'_id': ObjectId('65107ae13c3d8a7cdf78c2db'), 'mail_id': 'tikku', 'phone_no': 64564}
{'_id': ObjectId('65107b013c3d8a7cdf78c2dc'), 'name': 'Amy', 'address': 'Apple st 652'}
{'_id': ObjectId('65107b013c3d8a7cdf78c2dd'), 'name': 'Hannah', 'address': 'Mountain 21'}
{'_id': ObjectId('65107b013c3d8a7cdf78c2de'), 'name': 'Michael', 'address': 'Valley 345'}
{'_id': ObjectId('65107b013c3d8a7cdf78c2df'), 'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'_id': ObjectId('65107b013c3d8a7cdf78c2e0'), 'name': 'Betty', 'address': 'Green Grass 1'}
{'_id': ObjectId('65107b013c3d8a7cdf78c2e1'), 'name': 'Richard', 'address': 'Sky st 331'}
{'_id': ObjectId('65107b013c3d8a7cdf78c2e2'), 'name': 'Susan', 'address': 'One way 98'}
{'_id': ObjectId('65107b013c3d8a7cdf78c2e3'), 'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'_id': ObjectId('65107b013c3d8a7cdf78c2e4'), 'name': 'Ben', 'address': 'Park Lane 38'}
{'_id': ObjectId('65107b013c3d8a7cdf78c2e5'), 'name': 'William', 'address': 'Central st 954'}
{'_id': ObjectId('65107b013c3d8a7cdf78c2e6'), 'name': 'Chuck', 'address': 'Main Road 989'}
{'_id': ObjectId('65107b013c3d8a7cdf78c2e7'), 'name': 'Viola', 'address': 'Sideway 1633'}
{'_id': ObjectId('65107c463c3d8a7cdf78c2e9'), 'name': 'Bob', 'age': 25}
{'_id': ObjectId('65107c463c3d8a7cdf78c2e8'), 'name': 'Alice', 'age': 30}
{'_id': ObjectId('65107c463c3d8a7cdf78c2ea'), 'name': 'Charlie', 'age': 35}

Q7. Explain why delete_one(), delete_many(), and drop() is used.

delete_one()- This method is useful to remove a single document based on a specific condition. It used when deletion of a particular record or document that matches a unique identifier or some specific criteria is needed. A relevant example is demonstrated below-

In [30]:
coll_create.delete_one({'_id': ('65107c463c3d8a7cdf78c2ea')})

delete_many()- When deletion of multiple documents based on certain criteria is required, delete_many() method is employed. It is suitable for batch deletion of documents. A relevant example is demonstrated below-

In [31]:
coll_create.delete_many({"status": "inactive"})

drop()- The drop() method is more drastic method. it is used to delete an entire collection, including all its documents. This is typically used when complete removal of a collection and all its data is required. A relevant example is demonstrated below-

In [32]:
coll_create.drop()